#junit.ConsumerCase.baseDir=${example-xml.build.dir}/consumers
#junit.ServiceCase.baseDir=${example-xml.build.dir}/services
#junit.ProducerCase.baseDir=${example-xml.build.dir}/producers
#junit.SampleConfigCase.baseDir=${example-xml.build.dir}
#junit.JmsConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}
#junit.JmsProducerExamples.baseDir=${junit.ProducerCase.baseDir}

junit.xinclude.adapter.xml=${test.data.dir}/adapter.xml
junit.xinclude.adapter.xml.bad=${test.data.dir}/bad-adapter.xml

junit.MarshallerTest.dir=${basedir}/build/junit/marshaller
